{% extends 'web/base.html'%}

{% load static %}

{% block content %}
<center>
<img src="/static/web/sportst.png">
</center>
<br>
<h1 align = 'Center' style="color:#000080"><b><u>Virtual Track Application</u></b></h1>
<br>
<br>
<h3>Events:</h3>
<hr>
 {% for event in eventlist %}
<div class="btn-group3">
    <a href="{{ event.id }}">
<button>
    <h3><img src="{{ event.image.url }}" width = "150">   {{ event.name }} - {{ event.date }}</h3>

    </button>
        </a>
</div>
{% endfor %}

<br>
<br>
{% endblock %}